.body {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
}


.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0 20px auto;
}

.header_inner_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

}

.header_inner_top_left {
    display: flex;
    align-items: center;
}


.header_inner_top_left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header_inner_top_left_text {
    font-weight: 700;
    align-items: center;
    font-size: 16px;
    line-height: 100%;
    margin: 0;
}

.header_inner_top_left_text span {
    color: blue;
}

.header_inner_top_right {
    align-items: center;
}


.header_inner_top_right_form input {
    margin: 0;
    border: 1px white;
    border-radius: 16px;
    padding: 15px 190px 13px 13px;
    text-align: left;
    background-color: rgba(246, 246, 246, 1);
}

.header_inner_top_right_link {
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 20px;
    /* color: rgba(255, 255, 255, 1); */
    background-color: rgba(114, 150, 236, 1);
}

.header_inner_bottom {
    padding: 30px 0;
}

.header_inner_bottom_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.header_inner_bottom_list_item a {
    text-decoration: none;
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: rgba(127, 127, 127, 1);
}

.news_inner_img {
    padding: 40px 0 50px 0;
}

.news_inner_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 20px;
}

.news_inner_list_item {
    padding: 20px 18px 15px 17px;
    max-width: 345px;
    width: 100%;
    background-color: #ebebee;
    border-radius: 15px;
}

.news_inner_list_item_img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.news_inner_list_item_title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 8px 0;

}

.news_inner_list_item_text {
    font-size: 16px;
    color: #4A4B4C;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.new {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 15px 0 0;
}

.new_img {
    border-radius: 5px;
}

.new_span {
    font-size: 12px;
    font-weight: 400;
    color: #5E5F61;
    margin: 0;
}

.world_inner {
    align-items: center;
    justify-content: space-between;
}

.world_inner_left_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
    gap: 10px;

}

.world_inner_left_list_item {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 17px;
    gap: 10px;
    max-width: 797px;
    width: 100%;
    background-color: #ebebee;
    border-radius: 15px;
    margin-bottom: 17px;
}

.newss {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.world_inner_left_list_item img {
    border-radius: 10px;
}

.newss_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
    padding: 20px 30px 10px 15px;
    margin: 0
}

.newss_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px 17px 15px;
    margin: 0
}


.world-imgg {
    align-items: center;
    padding: 40px;
}
/* world start */
.world-inner {
    display: flex;
    gap: 10px;
}

.world-left {
    width: 797px;
    margin: 0;
}

.world-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #000;
}

.world-list {
    list-style: none;
    /* margin-bottom: 17px; */
}

.world-item {
    display: flex;
    gap: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 17px;
    align-items: center;
    background-color: rgba(246, 246, 246, 1);
}

.world-img {
    width: 210px;
    height: 165px;
    object-fit: cover;
    border-radius: 10px;
}

.world-item-title {
    font-size: 20px;
    margin: 0 0 10px 0;
    font-weight: 500;
}

.world-item-desc {
    font-size: 16px;
    color: #4A4B4C55;
    font-weight: 400;
    margin: 0 0 17px 0;
}

.extra {
    display: flex;
    align-items: center;
}

.world-inner-left-link {
    background-color: #EAEAEA;
    color: #000;
    margin-bottom: 100px;
    text-decoration: none;
    padding: 17px 323px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.world-inner-left-link:hover {
    background-color: #a7a7a7;
}

/* .world-right-top {
    width: 393px;
    background: #ffffff;
    padding: 20px 0;
    border-radius: 15px;
} */

.world_inner_right_list {
    list-style: none;
    background-color: rgba(246, 246, 246, 1);
}

.world_inner_right_list_item_title {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;

}

.world_inner_right_list_item_text {
    font-size: 13px;
    color: #5E5F61;
    margin-bottom: 15px;
    padding-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px solid #D2D2D2;
}

.world_inner_right img {
    border-radius: 15px;
}

.footer {
    background: #7297EF;
    padding: 40px 0;
}



.footer-inner-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    border-bottom: 1px solid #CECECE;
}

.footer-inner-top-left-img {
    margin: 0 0 15px 0;
}

.footer-inner-top-left {
    width: 300px;
}



.footer-inner-top-left-text {
    font-size: 12px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}


.footer-inner-top-right-wrapper {
    display: flex;
    gap: 80px;
}


.footer-inner-top-right-list {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}

.footer-inner-top-right-list-item {
    margin-bottom: 20px;
}

.footer-inner-top-right-list-link {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.footer-inner-top-right-list-link:hover {
    color: #dbd6d6;
}

.footer-inner-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer-inner-bottom-title {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin: 0;
}

.footer-inner-bottom-social {
    display: flex;
    gap: 25px;
    margin: 0;
}

.footer-inner-bottom-social-link {
    display: inline-flex;
    transition: 0.3s ease-in-out;
}